<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	
		<!-- Hibernate properties -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/raindb</property>
		<property name="connection_pool_size">1</property> 
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">false</property>
		<!-- End of Hibernate properties -->
		
		<!-- Here All the dao classes are mapped to hibernate tables -->
		<!-- List of XML mapping classes -->
		<mapping class="com.rain.dao.subscription.Payment" />
		<mapping class="com.rain.dao.subscription.SubscriptionBean" />
		<mapping class="com.rain.dao.application.ApplicationBean" />
		<mapping class="com.rain.dao.login.LoginBean" />
		<mapping class="com.rain.dao.user.UserBean" />
		<mapping class="com.rain.dao.role.RoleBean" />
		<mapping class="com.rain.dao.group.GroupBean" />
		<mapping class="com.rain.dao.group.SubGroupBean" />
		<mapping class="com.rain.dao.group.SubGroupUserMappingBean" />
		<!-- End of List of XML mapping classes -->
		

	</session-factory>
</hibernate-configuration>